<head>
  <!--网页渲染方式 ie=edge-->
  <!--IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--文本类型及编码-->
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- 使移动设备打开的页面优化显示 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- 显示文章标题及定义-->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <!--网站主样式css-->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <!-- 代码高亮显示css-->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/highlighter.css">
  <!--网站图标 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
</head>
